<nav class="navbar fixed-top navbar-expand-lg navbar-light mb-5 bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container py-3 mt-5">
      <input
        class="form-control" placeholder="search here" [(ngModel)]= 'term'>
    
</div>

<div class="container-fluid ">
    <div class="row">
        <div *ngFor="let item of allMovies|search:term" class="col-md-6 mb-3">
            <div class="movie-card">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-fluid" width=100% src="https://image.tmdb.org/t/p/w500{{item.poster_path}}" />

                    </div>
                    <div class="col-md-6">
                        <div class="container movieDesc pt-5">
                            <h2>{{item.name || item.title|seemore:20}}</h2>
                            <i class="fas fa-star rateStar"></i>
                            <i class="fas fa-star rateStar"></i>
                            <i class="fas fa-star rateStar"></i> 
                            <i class="fas fa-star rateStar"></i>
                            <i class="fas fa-star rateStar"></i>

                            <p class="pt-5">{{item.overview|seemore:100}}...</p>

                            <div class="vote">{{item.vote_average}}</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>